<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tbc.mini.mapper.ExcelInfoMapper" >
  <resultMap id="BaseResultMap" type="com.tbc.mini.modal.pojo.ExcelInfo" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cmy_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="intro" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="areas" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="rounds" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="founded_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="logo_img" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="position" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="resume" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="preference" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="img" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cmy_name, intro, areas, rounds, founded_time, logo_img, name, position, resume, 
    preference, img, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tbc.mini.modal.pojo.ExcelInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from excel_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from excel_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from excel_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tbc.mini.modal.pojo.ExcelInfoExample" >
    delete from excel_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tbc.mini.modal.pojo.ExcelInfo" >
    insert into excel_info (id, cmy_name, intro, 
      areas, rounds, founded_time, 
      logo_img, name, position, 
      resume, preference, img, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{cmyName,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, 
      #{areas,jdbcType=VARCHAR}, #{rounds,jdbcType=VARCHAR}, #{foundedTime,jdbcType=VARCHAR}, 
      #{logoImg,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{resume,jdbcType=VARCHAR}, #{preference,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tbc.mini.modal.pojo.ExcelInfo" >
    insert into excel_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cmyName != null" >
        cmy_name,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="areas != null" >
        areas,
      </if>
      <if test="rounds != null" >
        rounds,
      </if>
      <if test="foundedTime != null" >
        founded_time,
      </if>
      <if test="logoImg != null" >
        logo_img,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="resume != null" >
        resume,
      </if>
      <if test="preference != null" >
        preference,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cmyName != null" >
        #{cmyName,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="areas != null" >
        #{areas,jdbcType=VARCHAR},
      </if>
      <if test="rounds != null" >
        #{rounds,jdbcType=VARCHAR},
      </if>
      <if test="foundedTime != null" >
        #{foundedTime,jdbcType=VARCHAR},
      </if>
      <if test="logoImg != null" >
        #{logoImg,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="resume != null" >
        #{resume,jdbcType=VARCHAR},
      </if>
      <if test="preference != null" >
        #{preference,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tbc.mini.modal.pojo.ExcelInfoExample" resultType="java.lang.Integer" >
    select count(*) from excel_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update excel_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cmyName != null" >
        cmy_name = #{record.cmyName,jdbcType=VARCHAR},
      </if>
      <if test="record.intro != null" >
        intro = #{record.intro,jdbcType=VARCHAR},
      </if>
      <if test="record.areas != null" >
        areas = #{record.areas,jdbcType=VARCHAR},
      </if>
      <if test="record.rounds != null" >
        rounds = #{record.rounds,jdbcType=VARCHAR},
      </if>
      <if test="record.foundedTime != null" >
        founded_time = #{record.foundedTime,jdbcType=VARCHAR},
      </if>
      <if test="record.logoImg != null" >
        logo_img = #{record.logoImg,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null" >
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.resume != null" >
        resume = #{record.resume,jdbcType=VARCHAR},
      </if>
      <if test="record.preference != null" >
        preference = #{record.preference,jdbcType=VARCHAR},
      </if>
      <if test="record.img != null" >
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update excel_info
    set id = #{record.id,jdbcType=INTEGER},
      cmy_name = #{record.cmyName,jdbcType=VARCHAR},
      intro = #{record.intro,jdbcType=VARCHAR},
      areas = #{record.areas,jdbcType=VARCHAR},
      rounds = #{record.rounds,jdbcType=VARCHAR},
      founded_time = #{record.foundedTime,jdbcType=VARCHAR},
      logo_img = #{record.logoImg,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      position = #{record.position,jdbcType=VARCHAR},
      resume = #{record.resume,jdbcType=VARCHAR},
      preference = #{record.preference,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tbc.mini.modal.pojo.ExcelInfo" >
    update excel_info
    <set >
      <if test="cmyName != null" >
        cmy_name = #{cmyName,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="areas != null" >
        areas = #{areas,jdbcType=VARCHAR},
      </if>
      <if test="rounds != null" >
        rounds = #{rounds,jdbcType=VARCHAR},
      </if>
      <if test="foundedTime != null" >
        founded_time = #{foundedTime,jdbcType=VARCHAR},
      </if>
      <if test="logoImg != null" >
        logo_img = #{logoImg,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="resume != null" >
        resume = #{resume,jdbcType=VARCHAR},
      </if>
      <if test="preference != null" >
        preference = #{preference,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tbc.mini.modal.pojo.ExcelInfo" >
    update excel_info
    set cmy_name = #{cmyName,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      areas = #{areas,jdbcType=VARCHAR},
      rounds = #{rounds,jdbcType=VARCHAR},
      founded_time = #{foundedTime,jdbcType=VARCHAR},
      logo_img = #{logoImg,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      resume = #{resume,jdbcType=VARCHAR},
      preference = #{preference,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>